<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <http>
      <url>http://10.0.0.8:3100/loki/api/v1/push</url>
    </http>
    <format>
      <label>
        <pattern>app=${name},host=${HOSTNAME},level=%level</pattern>
        <readMarkers>true</readMarkers>
      </label>
      <message>
        <pattern>
          {
          "level":"%level",
          "class":"%logger{36}",
          "thread":"%thread",
          "message": "%message",
          "requestId": "%X{X-Request-ID}"
          }
        </pattern>
      </message>
    </format>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
      </Pattern>
    </encoder>
  </appender>

  <springProfile name="prod | container">
    <logger name="org.hibernate" level="error" additivity="false">
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="LOKI"/>
    </logger>

    <root level="INFO">
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="LOKI"/>
    </root>
  </springProfile>

  <springProfile name="local | dev">
    <logger name="org.hibernate" level="error" additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
      <appender-ref ref="STDOUT"/>
    </root>
  </springProfile>
</configuration>