# General system files #
**/.DS_Store
**/__pycache__
*.rdb

# Compiled files #
*.py[cod]
*$py.class
*.so

# Distribution / packaging #
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
animated_drawings.egg-info

# Installer logs #
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports #
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations #
*.mo
*.pot

# Django stuff #
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff #
instance/
.webassets-cache

# Scrapy stuff #
.scrapy

# Sphinx documentation #
docs/_build/

# PyBuilder #
.pybuilder/
target/

# Jupyter Notebook #
.ipynb_checkpoints

# IPython #
profile_default/
ipython_config.py

# pyenv #
.python-version

# pipenv #
Pipfile.lock

# poetry #
poetry.lock

# pdm #
pdm.lock
.pdm.toml

# Environments #
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings #
.spyderproject
.spyproject

# Rope project settings #
.ropeproject

# mkdocs documentation #
/site

# mypy #
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker #
.pyre/

# pytype static type analyzer #
.pytype/

# Cython debug symbols #
cython_debug/

# PyCharm & IntelliJ #
.idea/
*.iws
*.iml
*.ipr

# LSP config files #
pyrightconfig.json

# Caches and logs #
**/*.mar
.parcel-cache/
node_modules
.celery
.flask
.gunicorn
.nginx
.vscode
.idea
**/log.txt
**/*.mp4
**/*.gif

# Examples and media #
examples/garlic_out
!media/*.gif

# Redis #
*.rdb

# Additions from provided templates #
# Linux specific files #
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# macOS specific files #
.AppleDouble
.LSOverride
.Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# PyCharm specific files #
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/modules
.idea/**/mongoSettings.xml
atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/sonarlint/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.idea/codestream.xml
.idea/**/azureSettings.xml

# Python specific files #
__pypackages__/
poetry.toml
.ruff_cache/
